body {
  padding-top: 56px;
}

.portarait {
  height: 80vh;
}

#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}

#contacts {
  text-align: center;
}

#map {
  height: 400px;
  width: 100%;
}

.nav-item:hover,
.navbar-brand:hover {
  transform: scale(1.1);
}

iframe,
audio {
  margin: auto auto;
  border: 5px solid #777;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
